<p><img alt="plot of chunk unnamed-chunk-13" src="figure/unnamed-chunk-13-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-14" src="figure/unnamed-chunk-14-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-15" src="figure/unnamed-chunk-15-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-16" src="figure/unnamed-chunk-16-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-17" src="figure/unnamed-chunk-17-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-18" src="figure/unnamed-chunk-18-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-19" src="figure/unnamed-chunk-19-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-20" src="figure/unnamed-chunk-20-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-21" src="figure/unnamed-chunk-21-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-22" src="figure/unnamed-chunk-22-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-23" src="figure/unnamed-chunk-23-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-24" src="figure/unnamed-chunk-24-1.png" /></p>
<hr/>
<p><img alt="plot of chunk axis-scale" src="../fig/rmd-08-axis-scale-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-25" src="figure/unnamed-chunk-25-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-26" src="figure/unnamed-chunk-26-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-27" src="figure/unnamed-chunk-27-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-28" src="figure/unnamed-chunk-28-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-29" src="figure/unnamed-chunk-29-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-30" src="figure/unnamed-chunk-30-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-31" src="figure/unnamed-chunk-31-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-32" src="figure/unnamed-chunk-32-1.png" /></p>
<hr/>
<p><img alt="plot of chunk unnamed-chunk-33" src="figure/unnamed-chunk-33-1.png" /></p>
